{% extends "includes/index.html" %}
{% include 'includes/messages.html' %}

{% load static %}
    <title>{% block title%}Register Here{% endblock %}</title>
    {% load bulma_tags %}
    {% block content %}
    <br>
    <div class="tile is-ancestor">
      <div class="tile is-6 is-vertical is-parent">
              <article class="tile is-child">
                  <div class="content">
                  <figure class="image is-4by3">
                      <img src="{% static 'images/Register.svg'%}">
                      </figure>
                  </div>
              </article>
    {% include 'includes/messages.html' %}
      </div>
      <div class="tile is-parent">
          <div class="tile is-child box">
            <p class="title">Sign Up</p>
            <p>
                <form action="" method="POST" class="form-group">
                    {% csrf_token %}
                    {{form|bulma}}
                    <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey="6LfIYgEgAAAAAJgiSxu45b02FGvoVU7Hwu9zPFMR"></div><br>
                    <button type="submit" class="button is-success is-light " style="background-color:rgba(146, 165, 49, 0.81);color: white;"><strong><i class="fas fa-user-plus"></i>  Register</strong></button>
                </form>
            </p>
          </div>
      </div>
    </div>
    {% endblock %}