{% load static %}
<style>
.navbar-start .navbar-item:hover
{
    background-color:rgba(146, 165, 49, 0.81);
    color:white;
}
.header
{
    background-color:rgba(146, 165, 49, 0.81);
    color:white;
    height:12.5vh;
    width:100%;
    border: 2px solid transparent;
}
.header img
{
    margin-top:4px;
    margin-left:10px;
}
.header p
{
font-size:2vw;
//margin-top:1px;
margin-left:105px;
font-family:serif;
text-transform:uppercase;
word-spacing:7px;
padding:5px;
letter-spacing:0px;
}

.header h2
{
margin-left:115px;
margin-top:-2px;
//font-family:serif;
//text-transform:uppercase;
}
@media only screen and (max-width:768px)
{
.header
{
    height:20vh;
    width:100%;
    border: 2px solid transparent;
}
.header img
{
    margin-top:10px;
    margin-left:10px;
}
.header p
{
font-size:2vh;
margin-top:12px;
margin-left:120px;
font-family:serif;
text-transform:uppercase;
word-spacing:7px;
padding:5px;
letter-spacing:0px;
}

.header h2
{
margin-left:130px;
font-size:1.5vh;
}
}
</style>
<div class="header">
    <div>
        <img src="{% static 'images/KNITlogo.png' %}" height="82vh" width="82vh" style="float:left;"/>
    </div>
    <p >Training and Placement Management Portal</p>
    <h2>Kamla Nehru Institute of Technology, Sultanpur</h2>
</div>
<nav class="navbar" role="navigation" aria-label="main navigation" style="position: -webkit-sticky; position: sticky; top: 0;">
    <div class="navbar-brand">
        <a class="navbar-item" href="">
            <!-- <img src="" width="112" height="28"> -->
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'company:companyindex' %}" >
                <strong>Home</strong>
            </a>
            <a class="navbar-item" href="{% url 'company:stats' %}" >
                <strong>Stats</strong>
            </a>
            <a class="navbar-item" href="{% url 'company:update_company_details' %}">
                <strong>Update Details</strong>
            </a>
            <a class="navbar-item" href="{% url 'company:recieved_applications' %}">
                <strong>Recieved Applications</strong>
           </a>
            <a class="navbar-item" href="{% url 'company:upload_result' %}">
                <strong>Upload Result</strong>
            </a>
            <a class="navbar-item" href="{% url 'company:delete' %}">
                <strong>Delete account</strong>
            </a>

    </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons" style="margin-right:20px;">
                    <a class="button is-primary is-light " href="{% url 'company:update_company_details' %}" style="background-color:rgba(146, 165, 49, 0.81);">
                    <strong style="color:white;"><i class="fa fa-user" aria-hidden="true" "></i> {{name}}</strong>
                    </a>
                    <a class="button is-light" href="{% url 'company:logout' %}">
                        <strong>Log out</strong>
                    </a>
                </div>
    </div>
</nav>