{% extends "includes/index.html" %}


{% load bulma_tags %}
{% load static %}
<link href="{% static '/css/styles.css' %}" rel="stylesheet">
<title>{% block title%}Companies{% endblock %}</title>

{% block content %}
<br>
<!-- COMPANY STARTS -->

<h1 class="title">COMPANIES RECRUITING</h1>

<div class="tile is-ancestor mt-6" style="display:flex; flex-wrap:wrap; justify-content:space-around;">


                        {% for c in cm %}
                        <div class="card mx-4" style="margin:20px;">
                            <div class="card-content">
                                <form action="{% url 'register_job' %}" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="username" style="display:none;" value="{{ c.username }}">
                                    <p class="title">{{ c.cname }}</p>
                                <div class="content">
                                    <p>Salary: <strong>{{ c.salary }}</strong> </p>
                                    <p>Role: <strong>{{ c.role }}</strong></p>
                                    {% if user.is_authenticated %}
                                    {% if c.cname in jb %}
                                    <button class="button is-light is-outlined is-pulled-right"
                                    style="background-color:green ;color: white;" disabled><strong><i class="fa fa-check-circle"
                                            aria-hidden="true"></i> Applied</strong></button>

                                    {% else %}
                                    <button type="submit" class="button is-light is-outlined mt-3 is-pulled-right"
                                            style="background-color: rgba(146, 165, 49, 0.81);color: white;"><strong>Apply
                                                Now</strong></button>
                                    {% endif %}
                                    {% else %}
                                    <button type="submit" class="button is-light is-outlined mt-3 is-pulled-right"
                                            style="background-color:rgba(146, 165, 49, 0.81);color: white;"><strong>Apply
                                                Now</strong></button>
                                    {% endif %}
                                    </form>
                                    <br>
                                    <time datetime="2016-1-1">{{ c.date }}</time><br><br>
                                <div class="file has-name">
                                    <a href="{{ c.brochure.url }}" download="{{ c.brochure.url }}"><button type="button" class="button is-light is-outlined is-pulled-right" onclick="downloadalert()"><label class="file-label">
                                        <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fas fa-download"></i>
                                            </span>
                                            <span class="file-label">
                                                Download Brochure
                                            </span>
                                        </span>
                                    </label></button></a>
                                </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

</div>
<br><br><br>

<h1 class="title" id="result1">COMPANIES RESULTS</h1>

<div class="tile is-ancestor mt-6" style="display:flex; flex-wrap:wrap; justify-content:space-around;">


                        {% for r in re %}
                        <div class="card mx-4" style="margin:20px;">
                            <div class="card-content">
                                <form action="{% url 'register_job' %}" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="username" style="display:none;" value="{{ r.username }}">
                                    <p class="title">{{ r.cname }}</p>
                                <div class="content">
                                    <p>Salary: <strong>{{ r.salary }}</strong> </p>
                                    <p>Role: <strong>{{ r.role }}</strong></p>
                                    </form>
                                    <br>
                                    <time datetime="2016-1-1">{{ r.date }}</time><br><br>
                                <div class="file has-name">
                                    <a href="{{ r.result.url }}" download="{{ c.result.url }}"><button type="button" class="button is-light is-outlined is-pulled-right" onclick="downloadalert()"><label class="file-label">
                                        <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fas fa-download"></i>
                                            </span>
                                            <span class="file-label">
                                                Download Result
                                            </span>
                                        </span>
                                    </label></button></a>
                                </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

</div>


<script>
    function downloadalert()
    {
        alert("Downloading starts in 10 seconds....");
    }
    $("#button2").click(function () {
            $('html, body').animate({
                scrollTop: $("#result").offset().top
            }, 1000);
        });
</script>
        {% include 'includes/messages.html' %}
            {% endblock %}