{% load bulma_tags %}
{% load static %}
<link href="{% static '/css/styles.css' %}" rel="stylesheet">
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/top.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">
    <link href="{% static 'css/chat.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>{% block title%}Update Details{% endblock %}</title>
{% block content %}
<br>

<p class="title" align="center">Fill User Details</p><br>
<div class="tile is-ancestor">
    <div class="tile is-6 is-vertical is-parent"><br>
        <div class="tile is-child box">
            <figure class="image is-4by3">
                <img src="{% static 'images/register_student.svg'%}" alt="Event 1">
            </figure>
        </div>
    </div>
    <div class="tile is-parent">
        <div class="tile is-child box">
            <form action="/update_user_details/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input class="input " type="text" placeholder="" style="background-color:lightgrey;" value="{{ user.username }}" name="uname" readonly="readonly">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Email Address</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="" name="email" style="background-color:lightgrey;" value="{{ user.email }}" readonly="readonly">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Full Name</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="" name="fname" value="{{ form.fname }}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Collage Name</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="" name="colname" value="{{ form.colname }}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Overall CGPA</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="" name="cgpa" value="{{ form.cgpa }}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Class 10th Percentage</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="" name="tenth" value="{{ form.tenth }}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Class 12th percentage</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="" name="twelth" value="{{ form.twelth }}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Mobile Number</label>
                    <div class="control">
                        <input class="input" type="number" placeholder="" name="phoneno" value="{{ form.phoneno }}">
                    </div>
                </div><br>
                <div class="file has-name">
                    <label class="file-label">
                        <input class="file-input" type="file" name="resume" value="{{ form.resume }}">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Choose a file…
                            </span>
                        </span>
                        <span class="file-name">
                            Resume.pdf
                        </span>
                    </label>
                </div>
                <br>

                <button type="submit" class="button is-primary is-light"><strong>Save</strong></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}