{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script>
                    var a = "{{ message }}";
                    alert(a);
                </script>
            {% elif message.tags == 'info'%}
                <script>
                    var a = "{{ message }}";
                    alert(a);
                </script>
            {% elif message.tags == 'warning'%}
                <script>
                    var a = "{{ message }}";
                    alert(a);
                </script>
            {% elif message.tags == 'error'%}
                <script>
                    var a = "{{ message }}";
                    alert(a);
                </script>
            {% endif %}
        {% endfor %}
{% endif %}